{% extends "_layout" %}
    
{% block content %}

{% set criteria = {section: 'logs', orderBy: 'postDate', limit: null} %}
{% set prev = entry.getPrev(criteria) %}
{% set next = entry.getNext(criteria) %}

<section>
  <div class="container copy">
      <div class="page-content">
        <div class="readable">

          <article class="article">
              <h2>{{ entry.title }}</h2>
              <p class="sm-text">{{entry.postDate|date('F j, Y')}}</p>
              {% set blocks  = entry.logBlocks.all() %}
              {% for block in blocks %}

                {% switch block.type %}

                    {% case "richText" %}

                        {{ block.richText }}

                    {% case "image" %}

                        {% set image = block.image[0] ?? null %}
                        <a href="{{ image.getUrl('medium') }}" data-lightbox="lightbox" data-title="{{ block.caption }}">
                          <img class="image {{block.imageWidth }} {{block.alignment }}" src="{{ image.getUrl('small') }}" title="{{ image.title }}" alt="{{ image.title }}"/>
                        </a>

                    {% default %}

                {% endswitch %}

              {% endfor %}
        </article>
       
        <div class="pager clearfix">
          <div class="prev">
          {% if prev %}
            <a class="" href="{{ prev.url }}">&#8592; {{ prev.title }}</a>
          {% endif %}
          </div>

          <div class="next">
          {% if next %}
            <a class="" href="{{ next.url }}">{{ next.title }} &#8594;</a>
          {% endif %}
          </div>
        </div>
       
       
       
       
       
        </div>


        
        
      </div>
  </div>
</section>

{% endblock %}