{% extends "_layout" %}

{% if craft.app.request.getSegment(1) %}
  {% set slug = craft.app.request.getSegment(1) %}
{% else %}
  {% set slug = "the-latest" %}
{% endif %}
    
{% block content %}

<section>
  <div class="container copy">
      <div class="page-content">
        <div class="readable">
          <h2>{{ entry.title }}</h2>
          <p class="sm-text">{{entry.postDate|date('F j, Y')}}</p>
          {% set blocks  = entry.logBlocks.all() %}
          {% for block in blocks %}

            {% switch block.type %}

                {% case "richText" %}

                    {{ block.richText }}

                {% case "image" %}

                    {% set image = block.image[0] ?? null %}
                    <a href="{{ image.getUrl('medium') }}" data-lightbox="lightbox" data-title="{{ block.caption }}">
                      <img class="image" src="{{ image.getUrl('small') }}" title="{{ image.title }}" alt="{{ image.title }}"/>
                    </a>

                {% default %}

            {% endswitch %}

          {% endfor %}
        </div>
      </div>
  </div>
</section>

{% endblock %}